<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <a href="/"><h4>< Home</h4></a>
    <h2>Final Result Table</h2>
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Mac ID</th>
            <th>Battery Level</th>
            <th>X Min</th>
            <th>X Min</th>
            <th>Y MAX</th>
            <th>Y Min</th>
            <th>UV Max</th>
            <th>UV Min</th>
            <th>Result</th>
            <th>Date Created</th>
        </tr>
        </thead>

        <tbody>
        {{ range $index, $d := .data }}
        <tr>
            <td>
                {{ $d.ID }}
            </td>
            <td>
                {{ $d.MacID }}
            </td>
            <td>
                {{ $d.BatteryLevel}}
            </td>
            <td>
                {{ $d.XMax}}
            </td>
            <td>
                {{ $d.XMin}}
            </td>
            <td>
                {{ $d.YMax}}
            </td>
            <td>
                {{ $d.YMin}}
            </td>
            <td>
                {{ $d.UVMax}}
            </td>
            <td>
                {{ $d.UVMin}}
            </td>
            <td>
                {{ $d.Result }}
            </td>
            <td>
                {{ $d.DateCreated }}
            </td>

        </tr>

        {{ end }}
        </tbody>


    </table>
</div>


</body>
</html>